#### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [10]:
def show_the_love(num_list):
    """
    a function that removes 25% from every number in the list
    except the smallest number,
    and adds the total amount removed to the smallest number.
    """
    try:
        smallest_id = num_list.index(min(num_list))
        for num in range(len(num_list)):
            if num != smallest_id:
                num_list[smallest_id] += 0.25*num_list[num]
                num_list[num] = num_list[num]-0.25*num_list[num]
        
        print(num_list)
                
    except Exception as  e:
        print("error occurred ",e)

In [11]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [12]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [13]:
show_the_love([2, 100])

[27.0, 75.0]

#### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   
   2.Letters unique to word 1.
   
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
#### Even with multiple matching letters (e.g. 3 f's), there should only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]
#### "ham" does not contain any letters that are not found already in "match".

In [14]:
def letters(w1,w2):
    """
    function that takes in two words as input and returns a list of three elements, in the following order:
    1.Shared letters between two words.

    2.Letters unique to word 1.

    3.Letters unique to word 2
    """
    try:
        shared_word = ''.join(sorted(set(w1) & set(w2)))
        
        unique_to_w1 = ''.join(sorted(set(w1).difference(set(w2))))
        
        unique_to_w2 = ''.join(sorted(set(w2).difference(set(w1))))
        
        print([shared_word, unique_to_w1, unique_to_w2])
        
                
    except Exception as  e:
        print("error occurred ",e)

In [16]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [17]:
letters("board", "bored")

['bdor', 'a', 'e']

In [18]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [19]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [20]:
letters("match", "ham")

['ahm', 'ct', '']

#### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [23]:
def pairs(num_list):
    """
    function that pairs the first number in an array with the last,
    the second number with the second to last, etc
    """
    try:
        res = []
        if len(num_list) % 2 != 0 :
            mid_1 = int(len(num_list) / 2) + 1  
        else:
            mid_1 = int(len(num_list) / 2)
        for i in range(mid_1):
            paired_list = [num_list[i],num_list[-(i+1)]]
            res.append(paired_list)
        return res
        
                
    except Exception as  e:
        print("error occurred ",e)

In [24]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [25]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [26]:
pairs([])

[]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [66]:
def add_str_nums(num1,num2):
    """
    function that adds two numbers. 
    The catch, however, is that the numbers will be strings.
    """
    try:
        num1 = num1 if len(num1) > 0 else "0"
        num2 = num2 if len(num2) > 0 else "0"
        if num1.isdigit() & num2.isdigit():
            ans = str(int(num1) + int(num2))
        else:
            ans = "-1"
                        
        return ans
        
    except Exception as  e:
        print("error occurred ",e)

In [67]:
add_str_nums("4", "5")

'9'

In [68]:
add_str_nums("abcdefg", "3")

'-1'

In [69]:
add_str_nums("1", "")

'1'

In [70]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

#### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [143]:
def unmix(string):
    """
    Swap string
    """
    try:
        string = list(string)
        res = string.copy()
        for i in range(0,len(string)-1,2): 
            res[i] = string[i+1]
        for i in range(1,len(string),2):
            res[i] = string[i-1]        
            
        return ''.join(res)
        
    except Exception as  e:
        print("error occurred ",e)

In [144]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [145]:
unmix("123456")

'214365'

In [146]:
unmix("badce")

'abcde'