

# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

1) * = operator
2) 'hello'= value
3) -87.8 = value
4) - = operator
5) / = operator
6) + = operator
7) 6 = value

#  2. What is the difference between string and variable?

# String

1. this is a data type
2. string is a value representing text

# Variable
1. a variable is a name that can refer to any value
2. It stores values be it string,integer,float etc.
3. example:
    name='puru sharma' Here, name is variable and 'puru sharma' is a string

# 3. Describe three different data types.

In [ ]:
Data forms can be Integer , Float , String , Complex Numbers , boolean....

# 4. What is an expression made up of? What do all expressions do?

Expression just represents something like numbers , strings , instance, any value can be the expression

Eg: var1="puru" ---> var is a variable which stores string "puru"
    "puru"-----> It is an expression,as nothing is evaluated here

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

spam =  34, here 34 is an expression.
spam is a variable which stores integer value 10, so assigning the value 10 to a variable spam is known as declaration of a variable.

# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [2]:
bacon = 22
bacon+1
print(bacon) ## bacon will contain 22

22

# 7. What should the values of the following two terms be?
# &#39;spam&#39; + &#39;spamspam&#39;
# &#39;spam&#39; * 3

In [4]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
According to rules in python:
A variable name cannot start with a number, therefor  100 cannot be the variable name

In [7]:
#example
eggs="puru"
print(eggs)

puru

In [9]:
# here you can see the differences 
100= "puru"
print(100)

SyntaxError: cannot assign to literal (<ipython-input-9-3585515925f8>, line 2)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [20]:
# Converting to integer
value_int = int("20")
print(type(value_int))
value_float = float("23")
print(type(value_float))
value_string = str(29)
print(type(value_string))

<class 'int'>
<class 'float'>
<class 'str'>


# 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

"I have eaten" + 99 + "burritos."
In the above example we cannot concatenate string with integer value , string can only be concatinated with string.

In [11]:
# in this example i will try to cocatenate two strings.
a="i have eaten"+"burritos"
print(a)

i have eatenburritos

In [12]:
# in this example i will try to cocatenate two strings and one integer value also.
b="I have eaten" + 99 + "burritos."

print(b)

TypeError: can only concatenate str (not "int") to str

In [17]:
#  in this example i am able to add integer value in two string. i have used type casting concept.
# with the help of this concepte we can change datatype into another datatype as per the problem. 
x="I have eaten" 
y="burritos."
z=str(100)
print(x+y+z)

I have eatenburritos.100